@media screen and (min-width: 500px) {
    nav {
        display: flex;
        max-width: 640px;
        margin: 0 auto;
        border-radius: 4px;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    nav ul {
        display: flex;
        margin: 0 auto;
    }

    nav a {
        padding: 1rem 2rem;
    }

    nav a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    nav .active {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .hero-text h2 {
        font-size: 2rem;
    }

    .fact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .season-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .bubble-container {
        bottom: 330px;
        right: 40px;
    }

    .bubble-activator {
        width: 150px;
        height: 80px;
        padding: 12px;
        font-size: 20px;
    }

    /* Info Page */
    .sidebar {
        width: 100%;
        padding: 20px;
        background-color: #f4f4f4;
        height: 100%;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 10px;
    }

    .image-container img {
        width: 100%;
        height: auto;
        display: block;
    }

    figure {
        background-color: #fff;
    }

    img {
        width: 100%;
        height: auto;
        margin: .5rem;
    }

    figcaption {
        font-size: medium;
    }

    .hover:hover {
        box-shadow: 0 0 50px #333;
    }

    /*Attractions Page*/

    fieldset {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin: 1rem auto;
        padding: 1rem;
        max-width: 640px;
    }

    /*Album Page*/

    .picture-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        margin: 0 auto;
        padding: 1rem;
        gap: 1.5rem;
    }

}