* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

header h1 {
    background: #333;
    color: #fff;
    padding: 1rem;
    font-size: medium;
}

nav {
    background: #000;
}

.navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navigation a:hover,
.navigation a:focus {
    background: #444;
    text-decoration: underline;
    text-decoration-color: yellow;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content {
    background: #ccc;
    padding: 1rem;
}

aside {
    background: #fff;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}